header, main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
body{
    background-image: url(./img/pexels-felix-mittermeier-957061.jpg);
    background-attachment: local;
    background-size: 100%;
}